<a href="https://colab.research.google.com/github/Medgoby/Article-summarization/blob/master/Copie_de_Data_Quality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
pd.__version__

'1.1.5'

In [ ]:
list=[62,1,-5,34]
min=[0]
for e in list: 
  if e < min :
    min=e
print(min)

TypeError: ignored

## Lecture des fichiers

In [3]:
filepath='https://bit.ly/world-cities-clean'

In [4]:
print(filepath)

https://bit.ly/world-cities-clean

In [9]:
df=pd.read_csv(filepath)
df.sample(5)

           name        country  subcountry  geonameid
19377    Igunga       Tanzania      Tabora     159386
6540       Batī       Ethiopia      Amhara     342641
21951  Rosamond  United States  California    5388735
13195     Merke     Kazakhstan     Zhambyl    1520969
19120  İstanbul         Turkey    Istanbul     745044

In [15]:
fp='https://bit.ly/world-cities-dirty-v2'

In [16]:
print(fp)

https://bit.ly/world-cities-dirty-v2

In [18]:
df=pd.read_csv(fp)
df.sample(5)

                                                             Lorem ipsum dolor sit amet  ...  sunt in culpa qui officia deserunt mollit anim id est laborum.
South Jordan Heights United States Utah      5781765 NaN NaN                        NaN  ...                                                NaN
Eltville             Germany       Hesse     2930646 NaN NaN                        NaN  ...                                                NaN
Maarssen             Netherlands   Utrecht   2751316 NaN NaN                        NaN  ...                                                NaN
Gurupi               Brazil        Tocantins 3461724 NaN NaN                        NaN  ...                                                NaN
Mahanje              Tanzania      Ruvuma    155285  NaN NaN                        NaN  ...                                                NaN

[5 rows x 5 columns]

In [21]:
df=pd.read_csv(fp,
               skiprows=2, #enlève les deux prémières lignes
               skipfooter=1) #enlève la dernière ligne
df.sample(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

                name        country  subcountry  geonameid
22296   Frederickson  United States  Washington    5795011
11171         Mohali          India      Punjab    6992326
5298    Altglienicke        Germany      Berlin    2957185
20862       Wheeling  United States    Illinois    4916311
16527  Torres Vedras       Portugal      Lisbon    2262581

In [22]:
df.shape

(23018, 4)

In [23]:
fp='https://bit.ly/world-cities-dirty-v3'
print(fp)

https://bit.ly/world-cities-dirty-v3

In [28]:
df=pd.read_csv(fp, names=['names','country','subcountry','geonameid'],
               sep='|')
df.head()

              names               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

In [30]:
fp='https://bit.ly/bitcoin-data'
print(fp)

https://bit.ly/bitcoin-data

In [31]:
df=pd.read_csv(fp,
               skipfooter=2) 
df.sample(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

           Date    Open*     High      Low  Close**       Volume    Market Cap
25  Dec 20 2019  7208.64  7257.92  7086.12  7218.82  22633815180  130752796980
14  Dec 31 2019  7294.44  7335.29  7169.78  7193.60  21167946112  130446112598
16  Dec 29 2019  7317.65  7513.95  7279.87  7422.65  22445257702  134570835775
28  Dec 17 2019  6931.32  6964.07  6587.97  6640.52  22363804217  120234244809
7   Jan 07 2020  7768.68  8178.22  7768.23  8163.69  28767291327  148152237654

In [32]:
df.isna().sum()

Date          0
Open*         0
High          0
Low           0
Close**       0
Volume        0
Market Cap    0
dtype: int64

In [36]:
df.rename(columns={'Open*':'Open', 'Close**':'Close'}, inplace=True)
df.head()

          Date     Open     High      Low    Close       Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  44841784107  160319484883
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  22482910688  147890525973
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  22903438381  148752956966
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  25521165085  145924199942
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  28714583844  148249907277

In [37]:
#Création d'une fonction permettant de remplacer les espaces par un tirêt du 8
def SansEspace (s):
  return s.replace (' ', '_')

In [39]:
#Essayer la fonction
SansEspace('Barry Mohamed')

'Barry_Mohamed'

In [40]:
#Appliquer sur le DataFrame
df.rename(SansEspace,
          axis='columns')

           Date     Open     High      Low    Close       Volume    Market_Cap
0   Jan 14 2020  8140.93  8879.51  8140.93  8827.76  44841784107  160319484883
1   Jan 13 2020  8189.77  8197.79  8079.70  8144.19  22482910688  147890525973
2   Jan 12 2020  8033.26  8200.06  8009.06  8192.49  22903438381  148752956966
3   Jan 11 2020  8162.19  8218.36  8029.64  8037.54  25521165085  145924199942
4   Jan 10 2020  7878.31  8166.55  7726.77  8166.55  28714583844  148249907277
5   Jan 09 2020  8082.30  8082.30  7842.40  7879.07  24045990466  143016572819
6   Jan 08 2020  8161.94  8396.74  7956.77  8079.86  31672559265  146645162431
7   Jan 07 2020  7768.68  8178.22  7768.23  8163.69  28767291327  148152237654
8   Jan 06 2020  7410.45  7781.87  7409.29  7769.22  23276261598  140976457304
9   Jan 05 2020  7410.45  7544.50  7400.54  7411.32  19725074095  134469548249
10  Jan 04 2020  7345.38  7427.39  7309.51  7410.66  18444271275  134442464030
11  Jan 03 2020  6984.43  7413.72  6915.00  7344.88  28111481032  133233444755
12  Jan 02 2020  7202.55  7212.16  6935.27  6985.47  20802083465  126699395235
13  Jan 01 2020  7194.89  7254.33  7174.94  7200.17  18565664997  130580829150
14  Dec 31 2019  7294.44  7335.29  7169.78  7193.60  21167946112  130446112598
15  Dec 30 2019  7420.27  7454.82  7276.31  7293.00  22874131672  132235128152
16  Dec 29 2019  7317.65  7513.95  7279.87  7422.65  22445257702  134570835775
17  Dec 28 2019  7289.03  7399.04  7286.91  7317.99  21365673026  132659059740
18  Dec 27 2019  7238.14  7363.53  7189.93  7290.09  22777360996  132139502950
19  Dec 26 2019  7274.80  7388.30  7200.39  7238.97  22787010034  131200030100
20  Dec 25 2019  7325.76  7357.02  7220.99  7275.16  21559505149  131840641292
21  Dec 24 2019  7354.39  7535.72  7269.53  7322.53  22991622105  132687583295
22  Dec 23 2019  7508.90  7656.18  7326.19  7355.63  27831788041  133275709111
23  Dec 22 2019  7191.19  7518.03  7167.18  7511.59  23134537956  136088022049
24  Dec 21 2019  7220.59  7223.23  7112.74  7191.16  19312552168  130267655889
25  Dec 20 2019  7208.64  7257.92  7086.12  7218.82  22633815180  130752796980
26  Dec 19 2019  7277.59  7346.60  7041.38  7202.84  25904604416  130445758713
27  Dec 18 2019  6647.70  7324.98  6540.05  7276.80  31836522778  131754969804
28  Dec 17 2019  6931.32  6964.07  6587.97  6640.52  22363804217  120234244809
29  Dec 16 2019  7153.66  7171.17  6903.68  6932.48  20213265950  125515586952
30  Dec 15 2019  7124.24  7181.08  6924.38  7152.30  16881129804  129481424648

In [41]:
df.drop('Volume',
        axis='columns')

           Date     Open     High      Low    Close    Market Cap
0   Jan 14 2020  8140.93  8879.51  8140.93  8827.76  160319484883
1   Jan 13 2020  8189.77  8197.79  8079.70  8144.19  147890525973
2   Jan 12 2020  8033.26  8200.06  8009.06  8192.49  148752956966
3   Jan 11 2020  8162.19  8218.36  8029.64  8037.54  145924199942
4   Jan 10 2020  7878.31  8166.55  7726.77  8166.55  148249907277
5   Jan 09 2020  8082.30  8082.30  7842.40  7879.07  143016572819
6   Jan 08 2020  8161.94  8396.74  7956.77  8079.86  146645162431
7   Jan 07 2020  7768.68  8178.22  7768.23  8163.69  148152237654
8   Jan 06 2020  7410.45  7781.87  7409.29  7769.22  140976457304
9   Jan 05 2020  7410.45  7544.50  7400.54  7411.32  134469548249
10  Jan 04 2020  7345.38  7427.39  7309.51  7410.66  134442464030
11  Jan 03 2020  6984.43  7413.72  6915.00  7344.88  133233444755
12  Jan 02 2020  7202.55  7212.16  6935.27  6985.47  126699395235
13  Jan 01 2020  7194.89  7254.33  7174.94  7200.17  130580829150
14  Dec 31 2019  7294.44  7335.29  7169.78  7193.60  130446112598
15  Dec 30 2019  7420.27  7454.82  7276.31  7293.00  132235128152
16  Dec 29 2019  7317.65  7513.95  7279.87  7422.65  134570835775
17  Dec 28 2019  7289.03  7399.04  7286.91  7317.99  132659059740
18  Dec 27 2019  7238.14  7363.53  7189.93  7290.09  132139502950
19  Dec 26 2019  7274.80  7388.30  7200.39  7238.97  131200030100
20  Dec 25 2019  7325.76  7357.02  7220.99  7275.16  131840641292
21  Dec 24 2019  7354.39  7535.72  7269.53  7322.53  132687583295
22  Dec 23 2019  7508.90  7656.18  7326.19  7355.63  133275709111
23  Dec 22 2019  7191.19  7518.03  7167.18  7511.59  136088022049
24  Dec 21 2019  7220.59  7223.23  7112.74  7191.16  130267655889
25  Dec 20 2019  7208.64  7257.92  7086.12  7218.82  130752796980
26  Dec 19 2019  7277.59  7346.60  7041.38  7202.84  130445758713
27  Dec 18 2019  6647.70  7324.98  6540.05  7276.80  131754969804
28  Dec 17 2019  6931.32  6964.07  6587.97  6640.52  120234244809
29  Dec 16 2019  7153.66  7171.17  6903.68  6932.48  125515586952
30  Dec 15 2019  7124.24  7181.08  6924.38  7152.30  129481424648

In [ ]:
#df.drop_duplicates
#df.dropna
#df.rename(str.lower, axis='columns')
#df_copy=df.copy(deep=True)